/* minhas aplicações - PJCS */ 

.margin-top-10 label{
		margin-top:  10px;
}

.margin-top-20 label{
		margin-top:  20px;
}

.margin-top-30 label{
		margin-top:  30px;
}

.campos-produtos div option{
		background-color: #000000;
		color: #FFFF00; 
}