<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

<IfModule mime_module>
 AddHandler application/x-httpd-ea-php73 .php .php7 .phtml
</IfModule>